/.curseclient
/.physics_mod_cache
/crash-reports
/defaultconfigs
/downloads
/essential
/local
/logs
/minecraftinstance.json
/options.txt
/patchouli_books
/patchouli_data.json
/rhino.local.properties
/saves
/screenshots
/scripts
/shaderpacks
/supportercache.json
/usercache.json
/usernamecache.json
/XaeroWaypoints
/XaeroWaypoints_BACKUP032021
/config